<!DOCTYPE html>
<html>
  <head>
    <title>Simple App du Tutoriel Ruby on Rails | <%= @titre %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      Contact du Tutoriel Ruby on Rails à propos de l'Application Exemple à la
      <a href="http://railstutorial.org/feedback">page de feedback</a>.
    </p>
  </body>
</html>