<!DOCTYPE html>
<html>
  <head>
    <title>Simple App du Tutoriel Ruby on Rails | <%= @titre %></title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      C'est la page d'accueil de l'Application Exemple du
      <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>.
    </p>
  </body>
</html>